.menu-lateral {
    background-color: var(--cor-menu-lateral);
    padding: 10px 5px;
    overflow-x: scroll;
}

.menu-lateral::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    border: 1px solid black;
}

.menu-lateral::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.menu-lateral__list {
    display: flex;
    gap: 20px;
}

.menu-lateral__list__itens {
    background-color: var(--cor-de-fundo);
    border-radius: 50%;
    padding: 5px;
}

.menu-lateral__list__itens>img {
    width: 50px;
}

@media screen and (min-width: 711px) {
    .menu-lateral__list {
        display: flex;
        gap: 20px;
    }

}